---
layout: default
title: Dick Swart
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container d-flex justify-content-center">
		<img class="logo" src="{{'/assets/images/logo/swart-ninja-logo.svg' | relative_url}}" width="320">
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>about me</h2>
			<div class="fp-teaser-content">
				<p>South African born, Software Developer and Home Automation Enthusiast. Currently living the dream in New Zealand.</p>
			</div>
			<a class="btn btn-primary" href="/about" role="button">View details &raquo;</a>
		</div>
		<div class="col-md-4">
			<h2>latest post</h2>
			{% for post in site.posts limit:1 %}
			<div class="fp-teaser-content">
				<p>{{post.title}}, {{ post.excerpt | strip_html }}</p>
			</div>
			<a class="btn btn-primary" href="{{post.url}}" role="button">View details &raquo;</a>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>latest projects</h2>
			<div class="fp-teaser-content">
				<ul>
					{% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: 'pushed_at' | reverse %}
					{% for repository in filtered_repos limit: 3 %}
					{% unless site.projects.exclude.projects contains repository.name %}
					<li>{{repository.name}}<br><small>{{repository.description}}</small></li>
					{% endunless %}
					{% endfor %}
				</ul>
			</div>
			<a class="btn btn-primary" href="/projects" role="button">View details &raquo;</a>
		</div>
	</div>

	<hr>

</div>